root {
  font-family: "garamond", baskerville, baskerville old face, hoefler text, times new roman, serif;

}

body {
  font-size: 1.25em;
  line-height: 1.35em;
    background-color: #4C6363;

}
h1 {
    font-family:"kavivanar", cursive;
}
h1 {
  font-size: 80px;
}

h2,h3 {
  font-family: "spectral sc", serif;
}

h2,h3 {
  font-size: 60px;
}
h1,h2,h3 {
  line-height: 1.3em;
}

@media only screen and
(min-width: 600px;) {
  .text {
    max-width: 75vw;
  }
}

@media only screen and
(min-width: 900px) {
  .text {
    max-width: 50vw;
  }
}

.home {
  height: 75vw;
  background-image: url("kiwihug-265638.jpg");
  background-position: center;
  background-size: cover;
}
.home-text {
  font-size: 2.5em;
  line-height: 1em;
  margin: 0 0 0 0;
}

.home-header {
  margin: 0 0 0 0;
  color: #000000;
}
ul {
  list-style-type: none;
  padding: 1em 1em 1em 1em;
  width: 100%;
}

html * {

    box-sizing: border-box;
}

.home-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

body {
    margin: 0;
}

.home-nav {
  background-color: #803C15;
  box-shadow: -11px -10px 4px -1px rgba(0,0,0,0.45);
}

.chapter-pic {
  max-width: 100%;
}
