root {
  font-family: "garamond", baskerville, baskerville old face, hoefler text, times new roman, serif;
}
body {
  font-size: 1.25em;
  line-height: .5em;
}
h1 {
    font-family:"kavivanar", cursive;
}
h1 {
  font-size: 80px;
}

h2,h3 {
  font-family: "spectral sc", serif;
}

h2,h3 {
  font-size: 60px;
}
h1,h2,h3 {
  line-height: .8em;

@media only screen and
(min-width: 600px;) {
  .text {
    max-width: 75vw;
  }
}

@media only screen and
(min-width: 900px;) {
  .text {
    max-width: 50vw;
  }
}
